TG_API_ID=27058519        
TG_API_HASH=a1bb13b45dc8b1e9f0c8a2b4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6
SESSION_SECRET=string_32_chars-leandro-lima-string_32_chars-leandro-lima-marco
AUTH_USERNAME=admin
AUTH_PASSWORD=admin